body,html {
    height: 100%;
    font-family: 'Raleway', 'Noto Sans JP', sans-serif;
    font-size: 16px;
    line-height: 150%;
    background-color: rgb(131, 141, 161);
    color: black;
    margin: 0;
    padding: 0;
}
.row {
    margin: 0;
}

h1 {    
    font-family: 'Nunito', sans-serif;
    font-size: 3em;
    margin: 0;
}
.page-h1 {
    text-align: center;
    margin: -1rem -1rem 2rem -1rem;
    background-color: rgba(250, 205, 135, 0.38);
    border-radius: .2rem .2rem 0 0;
    padding: .5rem;
    box-shadow: inset 0px -28px 25px -16px rgba(112, 112, 112, 0.486);
}

h2 {
    margin-bottom: 0;
}
.card-header {
    background-color:rgba(255, 72, 0, 0.384);
    text-align: center;
}

.container-fluid {
    padding: 0;
}

#wrapper {
    border-radius: .2em;
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    margin-bottom: 5em;
    box-shadow: 0px 0px 19px 2px rgba(0, 0, 0, 0.5); 
}


#copy-button {
    display: none;
    position: absolute;
    z-index: 4;
    right: 1rem;
    bottom: 6rem;
}


/* Footer */
footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: #343a40;
    text-align: center;
    margin-top: 1.5em;
    font-size: 15px;
    padding: 15px;
    margin: 0;
    color: white;
}

/* shared properties between the result boxes */
#password-options, textarea.form-control {
    height: auto;
    margin-bottom: 1.25rem;
}
textarea::placeholder {
    font-size: 2rem;
}

/* Password customization boxes */
#password-options {
    display: none;
    border: unset;
}
.yes-no {
    display: none;
}

.btn {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
}
.btn-block + .btn-block {
    margin: 0;
}
#password-length {
    font-size: 2rem;
}
#length-button {
    margin-top: .5rem;
}

#generate-button {
    display: none;
}

#wrapper {
    margin-top: 2em;
}
#password {
    margin-left: auto;
    margin-right: auto;
}

/* all navbar stuff */
header {
    margin-bottom: 1em;
    font-family: 'Montserrat', sans-serif;
}
nav img {
    width: 5em;
}
.navbar {
    /* this moves the nav links to the right for some reason */
    justify-content: space-between;
    padding-top: unset;
    padding-bottom: unset;
}
.mobile {
    /* This class is for the mobile version of the navbar. Set not to display
    on desktop or landscape-oriented phones */
    display: none;
}    
.navbar-brand {
    padding-top: 15px;
    padding-bottom: 15px;
}
.language-button {
    margin-left: 1em;
    font-size: 1em;
}
/* end navbar */